@model Checkpoint_8.Models.Aluno

<h2 style="color:green;">Cadastro realizado com sucesso!</h2>

<hr />

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>RA:</strong> @Model.RA</p>
<p><strong>Curso:</strong> @Model.Curso</p>
<p><strong>Data de Nascimento:</strong> @Model.DataNascimento.ToString("dd/MM/yyyy")</p>

<br />

<a asp-controller="Aluno" asp-action="Cadastrar">
    <button type="button">Cadastrar outro</button>
</a>